.Sidebar {
    height: 100vh;
    /* background-color: rgb(32, 31, 31); */
    background-color: #1F232B;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* overflow-y: scroll; */
    font-family: 'Inter', sans-serif;
}
.admin-info {
    text-align: center;
}
.admin-profile {
    width: 100px;
    height: 100px;
}
.logout-button {
    background-color: #262626;
}
.line {
    height: 1px;
    width: 30%;
    --tw-text-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-text-opacity));
}

.logout-button  {
    background-color: #D9524E;
    border-radius: 6px;
}
.active-css {
    background-color: #D9524E;
}